.title {
    margin-top: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 500%;
}

.number {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 500%;
}

.controls {
    margin-top: 5vh;
    display: flex;

    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.bttn {
    display: inline-block;
}